.App {
  text-align: left;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  font-family: Roboto;
  background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}

.todo-add-item {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fetch-container {
  width: 800px;
  background: #f7f7f7;
}

.todo-list {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-section {
  width: 800px;
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  cursor: pointer;
  outline: none;
}

li:nth-child(2n){
  background: #f7f7f7;
}

span {
  height: 40px;
  text-align: center;
  color: white;
  width: 100%;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 1;
}

span.todo-delete-item {
  height: 40px;
  width: 40px;
}

span.in-progress-item {
  height: 40px;
  width: 40px;
}

span.check-item {
  height: 40px;
  width: 40px;
}

li:hover span {
  opacity: 1.0;
}

.task-info {
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

.green {
  background: yellowgreen;
}

.red {
  background: red;
}

.yellow {
  background: orange;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:focus{
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
  color: gray;
  text-decoration: line-through;
}
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2980b9;;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  width: auto;
  line-height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.fetch-button-disabled {
  background: #666;
  cursor: default;
}

.button-add-disabled {
  background: #666;
  cursor: default;
}

form {
  width: 100%;
  background: #fff;
}

.button-link:disabled {
  background: #fff;
  color: #2980b9;
}

.description {
  color: #2980b9;
  line-height: 40px;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
}